<!-- main screen starts -->
<div class="main-screen d-flex" id="main">
    <div class="container d-flex flex-column justify-content-center">
        <div class="row  mt-auto mb-auto">
            <div class="col-md-12">
                <div class="main-contents text-white text-center">
                    <h1 class="content title m-auto">PLAY TRADITIONAL GAME</h1>
                    <h3 class="content tagline m-auto">Experience new traditional game.</h3>
                    <a class="content btn btn-main btn-lg align-self-center btn--custom mt-4" href="/game"
                        role="button">PLAY
                        NOW</a>
                </div>
            </div>
        </div>
        <div class="row d-flex ms-auto me-auto mb-5">
            <div class="col">
                <div class="main-bottom">
                    <a class="content text-white story d-flex flex-column ms-auto me-auto" href="#about">
                        THE STORY
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down d-flex ms-auto me-auto" viewBox="0 0 16 16">
                            <path
                                d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- screen ends -->

<!-- the games starts -->
<div class="the-games d-flex align-items-center" id="about">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-5 the-games-content the-games-heading d-flex justify-content-center">
                <h3 class="text-start">
                    What's so special ?
                </h3>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1 class="text-end">
                    THE GAMES
                </h1>
            </div>
            <div class="col-md the-games-content text-start me-auto">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner" width="50px">
                        <div class="carousel-item active">
                            <img src="../assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-prev" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-caret-left" viewBox="0 0 16 16">
                                <path
                                    d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
                            </svg>
                        </span>
                    </a>
                    <a class="carousel-next" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-caret-right" viewBox="0 0 16 16">
                                <path
                                    d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--the games ends  -->

<!-- features stars -->
<div class="features d-flex align-items-center justify-content-center" id="features">
    <div class="container d-flex justify-content-end">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md-8">
                <div class="feature-content text-white">
                    <h3>
                        What's so special ?
                    </h3>
                    <h1>
                        Features
                    </h1>
                </div>
                <br>
                <div class="list-game">
                    <ul style="position: relative;">
                        <li class="text-white mt-3">
                            <h3>TRADITIONAL GAMES</h3>
                            <p>If you miss your chilhood we provide many traditional games here</p>
                        </li>
                    </ul>

                    <ul style="list-style-type: circle; list-style-position: outside; color: white;"
                        style="list-style-position: outside;">
                        <li class="mt-5">
                            <h3>GAME SUIT</h3>
                        </li>
                        <li class="mt-5">
                            <h3 class="">TBD</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- features ends -->

<!-- system requirements starts -->
<div class="system-requirements   d-flex flex-column justify-content-center" id="requirements">
    <div class="container">
        <div class="row">
            <div class="col-md-2 requirements-content">
                <div class="row text-white">
                    <div class="col-md-5">
                        <h1>SYSTEM</h1>
                        <h1>REQUIREMENTS</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <p class="text-white d-flex justify-content-center">
                    Can My Computer Run This Game ?
                </p>
            </div>
            <div class="row pt-5">
                <div class="col-md-6">
                    <table class="table table-bordered border-secondary text-white  table--requirements">
                        <tr>
                            <td>
                                <h3>OS :</h3>
                                <p>Windoes 7 64-bit only</p>
                                <p>No OSX support at this time</p>
                            </td>
                            <td>
                                <h3>PROCESSOR:</h3>
                                <p>Intel Core @ Duo @2.4 GHZ or</p>
                                <p>AMD Athlon X2 @2.8 GHZ</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>MEMORY:</h3>
                                <p>4 GB RAM</p>
                            </td>
                            <td>
                                <h3>STORAGE:</h3>
                                <p>8 GB available space</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h3>GRAPHICS</h3>
                                <p>NVIDIA GeForce GTX 660 2GB or</p>
                                <p>AMD RADEON HD 7850 2GB DirectX11 (Shader Model 5)</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- system requirement ends -->

<!-- top-score starts -->
<div class="top-score d-flex flex-wrap" id="quotes">
    <div class="container mt-auto mb-auto">
        <div class="row quotes">
            <div class="col-md-5 d-flex align-self-center">
                <div class="text-white">
                    <h2 class="top-score-title text-center">TOP SCORE</h2>
                    <h3 class="top-score-tagline">This top score from various games provided on this platform
                    </h3>
                    <a class="btn btn-lg btn-top-score btn--custom" href="#" role="button">
                        See more
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="cards d-flex flex-column">
                    <div class="card card-top align-self-end">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../assets/img/card1.png" class="rounded-circle" width="80">
                            </div>
                            <div class="col-8 m-1">
                                <h3 class="card-title">Evan Lahti</h3>
                                <p class="mt-1 text-secondary">PC Gamer</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>"One of my gaming highlights of the year."</p>
                            <p class="text-secondary">October 18, 2018</p>
                        </div>
                    </div>
                    <div class="card card-middle">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../assets/img/card2.png" class="rounded-circle" width="80">
                            </div>
                            <div class="col-8 m-1">
                                <h3 class="card-title">Jeda Griffin</h3>
                                <p class="mt-1 text-secondary">Nerd Reactor</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>"The next big thing in the world pf streaming and survival games"</p>
                            <p class="text-secondary">December 21, 2018</p>
                        </div>
                    </div>
                    <div class="card card-bottom align-self-end">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../assets/img/card3.png" class="rounded-circle" width="80">
                            </div>
                            <div class="col-8 m-1">
                                <h3 class="card-title">Aaron Williams</h3>
                                <p class="mt-1 text-secondary">Uproxx</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                "Snopp Dogg Playing The Widly Entertaining 'SOS' Is Radiculous"
                            </p>
                            <p class="text-secondary">December 24, 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- top score ends -->

<!--  newsletter starts -->
<div class="newsletter d-flex flex-column">
    <div class="container m-auto">
        <div class="row">
            <div class="col-md-5 newsletter-left d-flex">
                <img src="../assets/img/newsletter-1.png" alt="" class="rounded-circle m-auto img-fluid">
            </div>
            <div class="col-md newsletter-right">
                <div class="text-white">
                    <div class="row">
                        <di class="col-md">
                            <h3>Want to stay in touch ?</h3>
                            <h1>NEWSLETTER SUBSCRIBE</h1>
                            <h3>
                                In order to start receiving our news, all you have to do is enter your email
                                address. Everything else will be taken care of by us. We will send you emails
                                containing information about game. We don’t spam.
                            </h3>
                        </di>
                    </div>
                    <div class="row newsletter-right-bottom pt-3">
                        <div class="col-md-7">
                            <div class="bg-dark newsletter-form">
                                <input type="text" id="TextInput"
                                    class="form-control form-control--newsletter bg-dark text-warning border-dark p-4"
                                    placeholder="Your Email Adress">
                                </input>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a class="btn btn btn--newsletter btn--custom p-4" href="#" role="button">
                                Subscribe Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>